@use '../shared/mixins' as m;

.navi {
    $naviPadding: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: calc(100% - $naviPadding*2);
    z-index: 2;
    padding: $naviPadding;

    &__list, &__sm-list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__list {
        &-item {
            @include m.font-props(20px, 500, 30px);
            margin-right: 20px;

            &-link {
                text-decoration: none;
                color: white;
                text-transform: uppercase;
                transition: all 0.2s ease-in-out;
                position: relative;
                display: inline-block;

                &:after {
                    position: absolute;
                    content: '';
                    width: 0;
                    bottom: -10px;
                    left: 0;
                    height: 2px;
                    background-color: rgb(20, 203, 200);
                    transition: all 0.2s ease-in-out;
                }
                &:hover {
                    color: rgb(20, 203, 200);
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__sm-list {
        &-item {
            margin-left: 20px;
            $parent: &;

            &-link {
                transition: all 0.4s ease-in-out;
                display: inline-block;
                height: 80px;
                width: 80px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    background-color: white;

                    #{$parent}-icon {
                        fill: rgb(20, 203, 200);
                    }
                }
            }
            &-icon {
                width: 40px;
                height: 40px;
                fill: white;
                transition: all 0.4s ease-in-out;
            }
        }
    }
}